* {
  font-family: 'Nunito';
}

/* Sizing */
html, body {
  height: 100%;
}

#loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #0f1932;
}

#loader .spinner-border {
  width: 6rem;
  height: 6rem
}

#loader img {
  position: absolute
}

nav.navbar.bootsnav li.dropdown.on>a.dropdown-toggle:before {
  content: ""
}

html {
  scroll-behavior: smooth;
}
#main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#main main {
  flex-grow: 1;
}

/* Sizing END */

/* Body */

body {
  background: #E6F1F8;
  color: #177bbe;
}

/* Body END */

/* Navbar */

.navbar-brand img {
  max-width: 150px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  color: #177bbe;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #49b848;
}

.navbar-nav .dropdown-menu {
  background-color: #E6F1F8;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: #177bbe;
}


/* Navbar END */

/* Quantity box */
  /* Chrome, Safari, Edge, Opera */

  .quantity-box input::-webkit-outer-spin-button,
  .quantity-box input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .quantity-box input[type=number] {
    -moz-appearance: textfield;
    max-width: 50px;
    text-align: center;
  }

  /* Quantity box END */

/* Footer */

footer {
  padding: 30px;
  text-align: center;
  color: #177bbe;
  font-weight: bold;
}

#mailing_list_email::placeholder {
  color: var(--gray);
  opacity: 1
}

#mailing_list_email:-ms-input-placeholder {
  color: var(--gray)
}

#mailing_list_email::-ms-input-placeholder {
  color: var(--gray)
}

/* Overrides */
/* Vue Next Select */
.vue-select {
  width: unset;
}

.vue-select .vue-input {
  padding: .375rem .75rem
}

.vue-select:not([data-disabled="true"]) .vue-input {
  background: white;
}

.vue-select .vue-input input{
  font-size: 16px;
}

.product-image {
  background-size: cover;
  background-position: center center;
}

.toast-container {
  position: absolute;
  bottom: 100px;
  right: 10px;
}