#grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px
}

#added_to_cart_modal {
  text-align: center;
  align-items: center
}

#added_to_cart_modal.show {
  display: grid !important
}

#added_to_cart_modal .modal-header {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0
}

#added_to_cart_modal .modal-header .close {
  display: initial
}

.store-pages-container {
  display: grid;
  align-items: center
}

.store-pages {
  display: inline-block;
  padding-left: 0;
  display: flex;
}

.store-pages li {
  display: inline-block;
  margin-right: 6px;
  flex-grow: 1;
}

.store-pages li a {
  display: block;
  min-width: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #177bbe;
}

.store-pages li.active a {
  color: #49b848;
}

.shop-box-inner {
  position: relative
}

.add-to-cart-unavailable {
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}

.product-single a {
  text-decoration: none;
}

.product-single .product-image {
  background-size: cover;
  background-position: center center;
}

.list-group-item {
  background: initial;
  font-size: 14px;
  padding: 0.25rem 0.5rem;
  transition: transform 0.2s;
}

.list-group-item.selected {
  background: #177bbe;
  color: white;
  transform: scale(1.01);
}

.category-clear-button {
  cursor: pointer;
}

/* Vue Transition */
.list-group-item {
  display: inline-block;
  margin-right: 10px;
}

.list-group-enter-active,
.list-group-leave-active {
  transition: all 0.25s ease;
}

.list-group-enter-active {
  transition-delay: 0.25s;
}

.list-group-enter-from,
.list-group-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.search-product.row input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-product.row button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination ul {
  margin-bottom: 0;
}

.categories-list {
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

input.price-range {
  max-width: 75px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
}

input.price-range::-webkit-outer-spin-button,
input.price-range::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.price-range[type=number] {
  -moz-appearance: textfield;
}


@media (max-width: 991px) {
  .categories-list {
    max-height: 15vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.shop-content-right {
  position: relative;
}

.shop-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #0f1932;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.shop-loader .spinner-border {
  width: 6rem;
  height: 6rem
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}