body {
    background: #E6F1F8;
}

header {
    background: #177bbe;
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background: #E6F1F8;
}

.logout-link {
    color: white;
    text-decoration: none;
}

@media (max-width: 767px) {
    .logout-link {
        margin-right: 100px;
    }
}

.text-danger {
    padding-top: initial;
}

.grid {
    display: grid;
    grid-gap: 10px;
}

.grid-even-two {
    grid-template-columns: 1fr 1fr;
}

.product-image {
    max-width: 180px;
}

.ref_id_click {
    cursor: pointer;
    padding: 0.2em 0;
    margin: 2em 0;
    border-bottom: 1px dotted grey;
}

.catalog-item {
    border: transparent 1px solid;
    transition: 0.25s ease-in-out;
}

.catalog-item:hover {
    border: green 1px solid;
}

.catalog-cart-icon {
    cursor: pointer;
}

.catalog-cart-notif {
    z-index: 10;
    width: inherit;
    height: inherit;
}

.catalog-cart-notif i {
    left: 2.5em;
    top: -1.5em;
    position: relative;
    color: #7fb43f;
    font-size: 0.6em;
    border: 2px solid white;
    border-radius: 100%;
}

@media (min-width:900px) {
    .modal-dialog {
        max-width: 1200px;
        width: 90vw;
        margin: 1.75rem auto;
    }
}

/* Multiple Image Upload Preview */

.multi-image-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.multi-image-preview .image-preview {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    position: relative;
    transition: 0.1s;
    cursor: pointer;
}

.multi-image-preview .image-preview .overlay {
    width: 100%;
    height: 100%;
    transition: 0.1s;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.multi-image-preview .image-preview .overlay.to-delete {
    display: block;
}

.multi-image-preview .image-preview .close-button,
.image-preview-modal .close-button {
    background: white;
    position: absolute;
    left: 80%;
    bottom: 80%;
    border-radius: 50%;
    color: maroon;
    cursor: pointer;
    transition: 0.1s;
}

.carousel-img {
    background-size: cover;
    background-position: center center;
}

.gallery-img-preview {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 800px;
    max-width: 800px;
}

.preview-container {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: calc(1.375rem + 1.5vw);
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    line-height: 1.2;
}

.gallery-img {
    background-size: contain;
    width: 300px;
    height: 300px;
    resize: both;
    overflow: scroll;
}

.image-preview-modal .close-button {
    left: 93%;
    bottom: 93%;
    transform: scale(2);
}

.multi-image-preview .image-preview .close-button.to-delete {
    background: maroon;
    color: white;
    transform: scale(1.1);
}

.image-preview-modal {
    width: initial;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-preview-modal .modal-dialog {
    width: initial;
}

/* VueNextSelect */
.vue-select {
    width: unset;
}

.vue-select .vue-select-header {
    padding: .375rem .75rem;
}

.vue-select:not([data-disabled="true"]) .vue-select-header {
    background: white;
}

.vue-select .vue-input {
    padding: 0;
}

.vue-select .vue-input input {
    font-size: 16px;
}

/* PrimeVue */
.p-filter-column:not(.filterable)>* {
    visibility: hidden;
}

.p-column-filter-menu-button {
    visibility: hidden;
}

.p-calendar {
    width: 100%;
}

/* Bootstrap Icons */
.caret-button {
    font-size: 24px;
    transition: transform 0.2s;
}

/* Animate.css */
.animate__wrapper {
    overflow: hidden;
}

.upside-down {
    transform: rotate(180deg);
}
